<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="stylesheets/styles.css" rel="stylesheet">
	 <script src="javascripts/placeShips.js"></script> 
  </head>
  <body>
    <div class="outterContainer">
      <div class="contenedor">
          <h1>Coloca tus barcos
            <small>jugador: <%=jugadores%> </small> </h1>
          
          <form class="tablero" action="/cargarBarcos" method="POST" name="" >
            <div id="shipBoard">
           
            <% for (var i=1; i<=10; i++){ %>
              <div>

                <% for (var j=1; j<=10; j++){ %>
                  
                  <input id="<%=i%>_<%=j%>" name="<%=i%>_<%=j%>" type="checkbox" value="<%=i%>_<%=j%>">
                <% } %>  
                </div>
            <% } %>  
          </div>
          <input id="btnSubmit" class="btn btnShip btnSubmit btnHidden" type="submit" onclick="removeDisableBoxes()" value="Enviar Colocación" >
          </form>
          <ul id="barcos" class="barcos">
              <li>
          <a id="portaaviones" class="btn btnShip _btnDisabled" href="#" onclick="readyBoardforPlacement()">Portaaviones</a>
          
        </li>
              <li><a id="submarino_1" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Submarino</a></li>
              <li><a id="submarino_2" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Submarino</a></li>
              <li><a id="submarino_3" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Submarino</a></li>
              <li><a id="destructor_1" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Destructor</a></li>
              <li><a id="destructor_2" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Destructor</a></li>
              <li><a id="destructor_3" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Destructor</a></li>
              <li><a id="fragata_1" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Fragata</a></li>
              <li><a id="fragata_2" class="btn btnShip" href="#" onclick="readyBoardforPlacement()">Fragata</a></li>
          </ul>
      </div>
      </div>
  
      <!-- div>input[type="checkbox" value="1_$"]*10 -->
    
    <script>
      window.onload = function() {
         //.addEventListener('click', readyBoardforPlacement()); 
      };
    </script>
  </body>
</html>




