<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet">
    <style>
        table{
            border: 0px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            
            empty-cells:show;
            display: block;
            float: left;
           
            margin: 0 20px 0 0;
        }
            table tr{
                display: block;
                height: 40px;
                margin: 0;
                padding: 0;
              }
            table td{
                border: 0px solid black;
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;
            }
            table td img{
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;
            }
        #tableroTiradas{}
            #tableroTiradas td{
                background-image:url("img/cell_blank.png") ;
                text-align: center;
            }
    </style>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th colspan="5">Tablero JUGADOR <%= player %></th>
                <th colspan="5" style="text-align: right;">Turno: <%=turno%></th>
            </tr>
        </thead>
        <tbody>

            <%for ( var i=0; i<10; i++ ) { %>
                    <tr>
                <%for ( var j=0; j<10; j++ ) { %>


                    <td>
                        
                        <% if (player==1){
                            if (array_Tablero_Ships[i][j]==0){
                                %> <img src="img/cell_blank.png" <%
                            }  else if (array_Tablero_Ships[i][j]==1){
                                %> <img src="img/cell_ship.png" <%
                            } else if (array_Tablero_Ships[i][j]==2){
                                %> <img src="img/cell_shot.png" <%
                            } else if (array_Tablero_Ships[i][j]==3){
                                %> <img src="img/cell_shipDown.png" <%
                            }
                        }%>


                        <% if (player==2){
                             if (array_Tablero_Ships_Player2[i][j]==0){
                                %> <img src="img/cell_blank.png" <%
                            }  else if (array_Tablero_Ships_Player2[i][j]==1){
                                %> <img src="img/cell_ship.png" <%
                            } else if (array_Tablero_Ships_Player2[i][j]==2){
                                %> <img src="img/cell_shot.png" <%
                            } else if (array_Tablero_Ships_Player2[i][j]==3){
                                %> <img src="img/cell_shipDown.png" <%
                            }
                        }%>

                       


                    </td>
                       
                    
                    
                 <% } %>  
                    </tr>
            <% } %>    
            
        </tbody>
    </table>
    <table id="tableroTiradas">
        <thead>
            <tr>
                <th colspan="10">Tablero DISPAROS</th>
            </tr>
        </thead>
        <tbody>

            <%for ( var i=0; i<10; i++ ) { %>
                <tr>
                <%for ( var j=0; j<10; j++ ) { %>

                    <td>
                   

                    <% if (player == 1){ 
                        if(array_Tablero_Ships_Player2[i][j] == 0 || array_Tablero_Ships_Player2[i][j] == 1 ){ %>
                            <form action="resolverTurno" method="POST">
                                <input type="hidden" name="fila" value="<%=i%>">
                                <input type="hidden" name="columna" value="<%=j%>">
                                <input type="submit" name="路" value="路">
                            </form> 
                        <%} %>
                    <% }else{ %>
                    
                    <% if(array_Tablero_Ships[i][j]==0 || array_Tablero_Ships[i][j]==1 ){ %>
                        <form action="resolverTurno" method="POST">
                            <input type="hidden" name="fila" value="<%=i%>">
                            <input type="hidden" name="columna" value="<%=j%>">
                            <input type="submit" name="路" value="路">
                        </form> 
                    <% } %>
                    
                    <% } %>


                </td>
               
                
            <% } %>  
                </tr>
        <% } %>    

        </tbody>
    </table>
    <!-- table>tbody>tr*10>td*10>img[src="../public/img/cell_blank.png"] -->

               

    <form action="" method="POST"> 
        <input type="text" placeholder="Escribir aqui el mensaje...">
        <input type="submit"> 
    </form>

    <% if (!meToca) { %>
        <script>
          setInterval(function () {
            fetch('/resolverTurno').then(function(response) {
              if (response.ok) {
                location.reload();
              }
            })
          }, 3000);
        </script>
      <% } %>


</body>
</html>